{erl_opts, [debug_info]}.
{plugins, [
  {rebar3_erlydtl_plugin, "*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.
{deps, [
  cowboy,
  jiffy,
  u2f
]}.
{erlydtl_opts, [
  [
    {doc_root,   "templates"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"},
    {auto_escape, false}
  ]
]}.
{provider_hooks, [
    {post, [{compile, {erlydtl, compile}}]}
]}.
